*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor-fundo:#4acbb9;
    --cor-fundo-bg:#fffdd0;
    --cor-primaria :#19a0be;
    --cor-sedundaria:#c2af7c;
    --fonte-container:font-family: 'Dancing Script', cursive;
    /* --fonte-principal:"herkings"; */
}

body{
    font-family: var(--fonte-principal);
    background-color: white;
}

.cabecalho{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    background-color:white;
    border-color: var(--cor-primaria);
}


.cabecalho-logo{    
    height: 100%;
    width: 20%;
    margin-left: 5%;
   margin-right: 10px;
   
}

.cabecalho-nome{
    width: 70%;
   
     
}

.cabecalho-ancora{
    display: flex;
    flex-direction: row;
     
}

#menu{
    justify-content: space-between;
    align-items: center;
    margin: 0;
    display: flex;
}

#menu a{
    text-decoration: none !important;
}

#menu li{
    list-style-type: none;
}

.nav-item{
    padding-right: 20px;
}

.nav-menu{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cabecalho-botoes{
    align-items: center; 
    padding: 0em 0em 0em 1em;
    white-space: nowrap;
    border: none;
    border-color: none;
}

.btn-outline-primary{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.acessibilidade{
    margin-right: 5px;
}
.acessibilidade-bt{
    width: 20px;
    height: 20px;
}

.teste{
    background-color: black;
}


.container-img {
    background-image: url(img/dente-de-leao/dente-azul.png);
    background-size:cover ;
    background-repeat: no-repeat;    
    border: transparent;
    width: 100%;
}

.container-texto{
    font-family:'Dancing Script', cursive;;
    text-align: right;
    font-size: 27px;
    font-weight: 550;
    color: white;
    padding: 20% 3.5% 5% 55%;
}

.container-img-sobremim {
    background-image: url(img/dente-de-leao/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    border: transparent;
    width: 100%;
    
}

.container-texto-sobremim{
    font-family:'Dancing Script', cursive;;
    text-align: right;
    font-size: 27px;
    font-weight: 550;
    color: white;
    padding: 20% 3.5% 5% 55%;
}

.container-img-contato {
    background-image: url(img/dente-de-leao/06.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    border: transparent;
    width: 100%;
    
}

.container-texto-contato{
    font-family:'Dancing Script', cursive;;
    text-align: right;
    font-size: 27px;
    font-weight: 550;
    color: white;
    padding: 20% 3.5% 5% 55%;
}


.container-card{
    margin: 5% 10%;   
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;    
}

.card{
    border: transparent;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.card-img{   
    width: 100px;
    height: 100px;
    margin: 0% 0% 5% 0%;
    background-color: white;   
}

.sobre-mim{
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-primaria);    
}

.sobre-mim-img{
   height: 350px;
   width: 300px;
   margin: 10px 10px 10px 50px;
   border-top-left-radius: 40px;
   border-end-end-radius: 30px;    
}

.sobre-mim-texto{   
    color: white;
    padding: 0% 10%;
    font-family:'Dancing Script', cursive;;
    font-weight: 300;
    font-size: 30px;    
}

.sobre-mim-texto h4{
    margin-top: 0%;
    font-size: 40px;
}

.contato-a{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-sedundaria);
    text-align: center;
    font-size: 70px;
    font-weight: 800;
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;   
    margin: 0% 20% 0% 20%;    
}

.apresentacao-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 15%;   
}

.apresentacao-links-navegacao{
    display: flex;
    border: 2px solid var(--cor-sedundaria);
    width: 120%;
    margin: 0% 100% 10% 0%;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-sedundaria);
    text-decoration: none;
}

.apresentacao-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.apresentacao-qr{
    align-items: center;   
}

a:hover{   
    transform: scale(1.1);
    transition: all 0.5s;  
}

.card:hover{
    background-color: var(--cor-sedundaria);
    color: white;
    .card-img{
    background-color: var(--cor-sedundaria);
   }
 }


.footer{
    background-color: var(--cor-sedundaria);
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    height: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.footer-ct{
   text-align: end;
}
.footer-bt{
    font-size: 10px;   
    border: var(--cor-sedundaria);
}
.footer-p{
    background-color: var(--cor-sedundaria);
    font-size: 10px;
    text-align: center;
}



.container-admin-banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 20px;
    background-color:white;
}

.logo-admin{
    width: 400px;
}

.container-table{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black; 
    
}

table{
    width: 90%;
    margin: auto 0;
}

table, th, td{
    border: 1px solid black;
}

table th{
    padding: 11px 0 11px;
    background-color: #4acbb9;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding: 8px;
}

table tr{
    border: 1px solid #ddd;
}

table td{
    color: black;
    font-size: 18px;
    padding: 8px;
}

.container-admin-banner h1{
    margin-top: 40px;
    font-size: 30px;
    color: #EBC181;
}

.container-lista-pacientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
}

.container-lista{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #EBC181 0.5px;
    border-radius: 10px;
    padding: 10px;
    margin: 3px 0;
}

.container-lista h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

table tbody tr td a, .botao-cadastrar, .botao-excluir{
    padding: 3px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 5px;
    transition: 0.7s;
    border: none;
    font-size: 18px;
}


table tbody tr td a:hover, .botao-cadastrar:hover, .botao-excluir:hover{
    cursor: pointer;
    filter: saturate(150%);
}

.botao-cadastrar{
    background: #EBC181;
    color: #333B1E;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}


.botao-editar{
    background: #9B8357;
}

.botao-excluir{
    background: crimson;
}



